h2{
  color: purple;
  background:yellow;
  font-style:italic;
  border: 10px solid black;
}


#box {
  color: yellow;
  background:blue;
  width: 100px;
  height: 100px;
  font-style:italic;
  margin: 5px;
  padding: 5px;
  border: 5px solid yellow;


 }
.pretty{
  color:white;
  background:black;
  width: 100px;
  height: 100px;
  font-style: italic;
  margin: 5px;
  padding: 5px;
  border: 5px solid purple;

}
#images {
  width: 600px;
  height: 400px;
}
#tester {
  color: green;
  font-size: 100px;

}
body {
  
  font-family:fantasy;

}